.progress-button {
    /*border: solid 2px #0c4128;*/
    background-color: #ff8888;
    color: #000000;
    padding: 5px 15px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    /*min-width: 125px;*/
    font-weight: bold;
}

.button__progress {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: #ff1212;
    transition: width 0.1s;
}

.button__text {
    position: relative;
}