@page "/"
@namespace BlazorServerUI.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<component type="typeof(App)" render-mode="ServerPrerendered"/>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    @* <meta name="viewport" content="width=device-width, initial-scale=1.0"/> *@
    <title>ViaLabs</title>
    <base href="~/"/>
    <link rel="shortcut icon" type="image/ico" href="icons/CodeIcon.png">
    <link rel="shortcut icon" href="icons/CodeIcon.png">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
    <link href="/css/easymde.min.css" rel="stylesheet"/>
    <link href="/css/buttons.css" rel="stylesheet"/>
    <link href="/css/radialmenu.css" rel="stylesheet"/>

    <script src="/lib/query/jquery.js"></script>
    <script src="/js/easymde.min.js"></script>
    <script src="/js/markdownEditor.js"></script>
</head>