#color-picker {
    border-radius: 20px;
    height: 40px;
    width: 15ch;
    /*border: none;*/
    outline: none;
    -webkit-appearance: none;
    cursor: pointer;
    border: 3px solid #000000;
    padding: 0;
}

#color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
}

#color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 20px;
}
