#color-picker {
    border-radius: 25px;
    height: 30px;
    width: 15ch;
    /*border: none;*/
    outline: none;
    -webkit-appearance: none;
    cursor: pointer;
    border: 2px solid #000000;
}

#color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
}
#color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 10px;
}