.floating-label-group {
    position: relative;
    /*margin-top: 15px;*/
    /*margin-bottom: 25px;*/
    display:inline-block;
}

.floating-label {
    font-size: 13px;
    color: #a2a2a2;
    position: absolute;
    pointer-events: none;
    top: 5px;
    left: 12px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index:1;
}

.floating-label::before {
    content: "";
    height: 3px;

    position: absolute;
    left: 0px;
    top: 14px;
    width: 100%;
    z-index: -1;
}

.floating-input{
    border-radius: 10px;
    height:30px;
    border: 2px solid black;
    transition: all 0.3s;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label, 
textarea:focus ~ .floating-label,
textarea:not(:focus):valid ~ .floating-label
{
    top: -16px;
    left: 12px;
    color: #000000;
    text-decoration: underline 1px #000000;
    padding:0 5px 0 5px;
}

input:focus ~ .floating-label,
textarea:focus ~ .floating-label{
    text-decoration: underline 1px #66afe9;
    
}

.floating-input:focus {
    border:2px solid #66afe9;
    /*border-color: #66afe9;*/
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 15px rgba(102, 175, 233, 0.8);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 15px rgba(102, 175, 233, 0.8);
    transition: all 0.3s;
}