<div class="floating-label-group">
    <textarea style="width: @WidthWithUnit" class="floating-input" type="text" required @onchange="@OnChange">@InitialValue</textarea>
    <label class="floating-label">@GhostText</label>
</div>

@code {
    [Parameter]
    public string InitialValue { get; set; }
    
    [Parameter]
    public string WidthWithUnit { get; set; } = "25ch";

    [Parameter]
    public string GhostText { get; set; }

    [Parameter]
    public EventCallback<string> OnValueChange { get; set; }

    private async Task OnChange(ChangeEventArgs args)
    {
        string? s = args.Value.ToString();
        await OnValueChange.InvokeAsync(s);
    }
}