.outermost-box {
    display: flex;
    width: 100%;
    justify-content: space-evenly
}

.top-row-box {

}

.top-row-left{
    
}

.top-row-right{
    
}

.content-box {

}

.left-side-box {

}

.right-side-box {

}

.guide-details-box {

}

.steps-box {

}

.markdown-editor-box {

}

.result-display-box {

}