.outermost-box {
    width: 100%;
    justify-content: space-evenly;
    /*background-color: #00bb00;*/
}

.top-row-box {
    border: solid 1px;
    width: 100%;
    display: flex;
    padding: 15px;
}

.top-row-left {
    align-content: flex-start;
}

.top-row-right {
    margin-left: auto;
}

.content-box {
    width: 100%;
    margin-top: 15px;
    display: flex;
}

.left-side-box {
    display: inline-block;
}

.right-side-box {
    width: 100%;
    min-height: 500px;
    display: flex;
    margin-left: 15px;
}

.guide-details-box {
    border: solid 1px;
}

.steps-box {
    border: solid 1px;
    margin-top: 15px;

}

.markdown-editor-box {
    border: solid 1px;
    /*min-width: 45%;*/
    min-height: 500px;
    width: 48%;
}

.result-display-box {
    min-height: 500px;
    border: solid 1px;
    /*min-width:45%;*/
    margin-left: auto;
    width: 48%;
}

.add-guide-container {
    min-height: 10px;
    max-height: 10px;
    /*transition: height 0.5s linear;*/
    text-align: center;
    transition: all 0.5s ease;
    
}

.add-guide-container:hover {
    min-height: 10px;
    max-height: 35px;
    transition: all 0.5s ease;
    
}

.add-guide-icon {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    width:25px;
    transition: all 0.25s ease;
}

.add-guide-icon:hover{
    width:30px !important;
    transition: all 0.15s ease;
}

.add-guide-container .add-guide-icon {
    visibility: hidden;
    width:0px;
    opacity: 0%;
    transition: all 0.5s ease;

}

.add-guide-container:hover .add-guide-icon {
    visibility: visible;
    transition: all 0.5s ease;
    width:25px;
    opacity: 100%;

}
