.outermost-box {
    width: 100%;
    justify-content: space-evenly;
    /*background-color: #00bb00;*/
}

.top-row-box {
    border: solid 1px;
    width: 100%;
    display: flex;
    padding: 15px;
}

.top-row-left {
    align-content: flex-start;
}

.top-row-right {
    margin-left: auto;
}

.content-box {
    width: 100%;
    margin-top: 15px;
    display: flex;
}

.left-side-box {
    display: inline-block;
}

.right-side-box {
    width: 100%;
    min-height: 500px;
    display: flex;
    margin-left: 15px;
}

.guide-details-box {
    border: solid 1px;
}

.steps-box {
    border: solid 1px;
    margin-top: 15px;

}

.markdown-editor-box {
    border: solid 1px;
    /*min-width: 45%;*/
    min-height: 500px;
    width: 48%;
}

.result-display-box {
    min-height: 500px;
    border: solid 1px;
    /*min-width:45%;*/
    margin-left: auto;
    width: 48%;
}

.add-guide-container {
    max-height: 5px;
    transition: height 0.5s linear;
    text-align: center;
}

.add-guide-container:hover {
    transition: height 0.5s linear;
    max-height: 35px;
}

.add-guide-icon {
    cursor: pointer;
    /*display: inline-block;*/
    margin-left: auto;
    margin-right: auto;
    /*width:25px;*/
    height:25px;
    transition: height 1.5s;
}

.add-guide-icon:hover{
    height:30px;
    transition: height 1.5s;
}

.add-guide-container .add-guide-icon {
    visibility: hidden;
    opacity: 0%;
    transition: visibility,opacity 0.5s linear;

}

.add-guide-container:hover .add-guide-icon {
    visibility: visible;
    opacity: 100%;
    transition: visibility,opacity 0.5s linear;

}
