@inherits LayoutComponentBase

<PageTitle>BlazorServerUI</PageTitle>

<div class="page">


    <main>
        <div class="top-row px-4 auth">
            <NavLink class="nav-link" href="EditSlide">
                <span class="fa fa-edit" aria-hidden="true"></span>
            </NavLink>
            <NavLink class="nav-link" href="Profile">
                <span class="fa fa-user" aria-hidden="true"></span>
            </NavLink>
            @* <LoginDisplay/> *@
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>