@inherits LayoutComponentBase

<div class="page">


    <main>
        <NavHeader/>

        <article class="content px-4">
            <PopupErrorBoundary>
                @Body
            </PopupErrorBoundary>
        </article>
    </main>
</div>

<SnackBar/> <!-- snack bar added here, because MainLayout is always shown. The snack bar is globally showable -->

@code {
    private ErrorBoundary? errorBoundary;

    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }

}