@inject NavigationManager navMgr

<PageTitle>ViaLabs</PageTitle>

<div class="nav-header">
    <nav class="forum-title">
        <h1 @onclick='() => navMgr.NavigateTo("/")'>ViaLabs</h1>
    </nav>
    <nav class="menu-icons">
        <img class="menu-icon sway sway-anim" src="icons/Profile.png" @onclick="GoToProfile" title="Profile"/>
    </nav>
</div>

@code {

    private Task GoToProfile()
    {
        navMgr.NavigateTo($"/Profile");
        return Task.CompletedTask;
    }
    
}