.positive-color{
    background-color: #80ff80;
}

.negative-color{
    background-color: #ff1b1b;
}

.cancel-color{
    background-color: #ffdcdc;
}

.neutral-color {
    background-color: #c2edff;
}

.warning-color {
    background-color: #fffd88;
}

.vialab-button{
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: solid 2px #0c4128;
    transform: scale(1);
    font-weight: bold;
    transition:0.3s;
}

.vialab-button:hover{
    transition:0.3s;
    transform: scale(1.1) rotate(2deg);
    box-shadow: 0 2px 10px 2px #3f3f3f;
}

.vialab-button:focus{
     border:none;
     border-color: #66afe9;
     outline: 0;
     -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 1.0);
     box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 1.0);
}

.progress-button {
    /*border: solid 2px #0c4128;*/
    background-color: #ff8888;
    color: #000000;
    padding: 5px 15px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    /*min-width: 125px;*/
    font-weight: bold;
}

.progress-button-filler {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: #ff1212;
    transition: width 0.1s;
}

.progress-button-text {
    position: relative;
}