.positive-color{
    background-color: #80ff80;
}

.negative-color{
    background-color: #ff8888;
}

.neutral-color {
    background-color: #c2edff;
}

.warning-color {
    background-color: #fffd88;
}

.vialab-button{
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: solid 2px #0c4128;
    transform: scale(1);
    font-weight: bold;
    transition:0.3s;
}

.vialab-button:hover{
    transition:0.3s;
    transform: scale(1.2) rotate(2deg);
    box-shadow: 0 2px 10px 2px #3f3f3f;
}