.hover-enlarge:hover {
    height: 2em;
    transition: 0.25s;
}

.hover-enlarge {
    transition: 0.25s;
}

.menu {
    position: relative;
    margin-top: 25px;
    margin-right: 10px;
    width: 0px;
}

.new-item-icon {
    height: 1.5em;
    cursor: pointer;
}

.menu-open {
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
}

.menu-closed {
    transform: translate(-50%, -50%) scale(1) rotate(-180deg);
}

.radial-background-closed {
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
    /*opacity: 0%;*/
    height: 0px;
    width: 0px;
    transition: all 1s;
    border-radius: 50%;
    background-color: #ffffff;
}

.radial-background-open{
    position: absolute;
    height: 130px;
    width: 130px;
    transform: translate(-50%, -50%) scale(1);
    opacity: 100%;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 0px 50px 18px rgba(124, 123, 123, 0.76);
    transition: all .3s;
}

.radial-menu {
    position: relative;
    margin-right: 15px;
    /*height: 100px;*/
    /*width: 100px;*/
    /*background-color: #0dcaf0;*/
}


.item-closed {
    transition: .3s;
    position: relative;
    top: 0em;
    transform: scale(0);
    left: 0px;
    top: 0px;
    opacity: 0;

}

.radial-menu-item {
    position: absolute;
    font-size: 1.25em;
    /*background-color: rgba(124, 123, 123, 0.55);*/
    /*box-shadow: 0px 0px 50px 18px rgba(124, 123, 123, 0.76);*/
}


.item-open-1 {
    transition: 0.3s;
    top: -2em;
    transform:
            translate(-50%, -50%)
            scale(1);
    opacity: 1;
    transition-delay: 50ms;
}

.item-open-2 {
    transition: 0.3s;
    top: 0em;
    left: 2em;
    transform:
            translate(-50%, -50%)
            scale(1);
    opacity: 1;
    transition-delay: 100ms;
}

.item-open-3 {
    transition: 0.3s;
    top: 2em;
    left: 0em;
    transform:
            translate(-50%, -50%)
            scale(1);
    opacity: 1;
    transition-delay: 150ms;
}

.item-open-4 {
    transition: 0.3s;
    top: 0em;
    left: -2em;
    transform:
            translate(-50%, -50%)
            scale(1);
    opacity: 1;
    transition-delay: 200ms;
}