<div class="category-card" style="background-color: @BackgroundColor">
    <div class="card-title">
        <nav style="margin:auto">
            <h2 >@Title</h2>
        </nav>
        <nav class="menu-icons">
            <img class="new-guide-icon" src="icons/AddGuide.svg" @onclick="@(NewGuide)" title="New Guide"/>
        </nav>
    </div>
</div>

@code {

    [Parameter]
    public string Title { get; set; } = "N/A";

    [Parameter]
    public string BackgroundColor { get; set; } = "#ffffff";

    private Task NewGuide()
    {
        return Task.CompletedTask;
    }

}