@inject NavigationManager NavMgr
@inject ProfileStateContainer ProfileStateContainer

@using BlazorServerUI.StateContainers.Profile
@using ViewData.ProfileInfo.DTOs
@implements IDisposable
<div class="guides-container">

    <CategoriesHeader/>

    <div class="column-container">
        @for (int i = 0; i < 2; i++)
        {
            <div class="guide-coloumn">
                @{
                    int idx = 0;
                    foreach (CategoryWithGuidesAndResourcesDto cwg in ProfileStateContainer.CategoriesWithGuidesAndResources)
                    {
                        if (idx % 2 == i)
                        {
                            CategoryDto? tmp = cwg.Category;
                            <CategoryCard CategoryId="@tmp?.Id" />
                        }
                        idx++;
                    }
                }
            </div>
        }
    </div>

</div>

@code {

    protected override void OnInitialized()
    {
        ProfileStateContainer.OnCategoryAdded += ReactToCategoryAdded;
        ProfileStateContainer.OnCategoryDeleted += ReactToCategoryDeleted;
    // TODO ReactToCategoryUpdated ??
    }

    private void ReactToCategoryDeleted()
    {
        StateHasChanged();
    }

    private void ReactToCategoryAdded()
    {
        StateHasChanged();
        // SnackBarHandler.ShowSnackMessage("Category created!");
    }

    public void Dispose()
    {
        ProfileStateContainer.OnCategoryAdded -= ReactToCategoryAdded;
        ProfileStateContainer.OnCategoryDeleted -= StateHasChanged;
    // TODO ReactToCategoryUpdated ??
    }

}