@using Application.DTOs.CategoryDTOs
@using Application.ProviderContracts
@using BlazorServerUI.Handlers
@using BlazorServerUI.StateContainers.Profile

@inject ICategoryProvider categoryProvider
@inject NavigationManager navMgr
@inject ProfileStateContainer profileStateContainer

@implements IDisposable
<div class="guides-container">

    <CategoriesHeader/>

    <div class="column-container">
        @for (int i = 0; i < 2; i++)
        {
            <div class="guide-coloumn">
                @{
                    int idx = 0;
                    foreach (CategoryWithGuidesAndResourcesDto cwg in profileStateContainer.CategoriesWithGuides)
                    {
                        if (idx % 2 == i)
                        {
                            CategoryDto? tmp = cwg.Category;
                            <CategoryCard CategoryId="@tmp?.Id" />
                        }
                        idx++;
                    }
                }
            </div>
        }
    </div>

</div>

@code {

    protected override void OnInitialized()
    {
        profileStateContainer.OnCategoryAdded += ReactToCategoryAdded;
        profileStateContainer.OnCategoryDeleted += StateHasChanged;
    }

    private void ReactToCategoryAdded()
    {
        StateHasChanged();
        SnackBarHandler.ShowSnackMessage("Category created!");
    }
    
    public void Dispose()
    {
        profileStateContainer.OnCategoryAdded -= ReactToCategoryAdded;
        profileStateContainer.OnCategoryDeleted -= StateHasChanged;
    }

}