.category-card {
    border: solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 5px;
    max-width: 600px;
    min-width: 400px;
    border-radius: 25px;
    margin-bottom: 15px;
}

.guide-title {
    padding-left: 15px;
    padding-bottom: 5px;
}

.navbarheader {
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.header-right,
.header-left {
    flex-basis: 50%;
}

.header-right {
    text-align: right;
}

