.category-card {
    border: solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 5px;
    max-width: 600px;
    min-width: 400px;
    border-radius: 25px;
    margin-bottom: 15px;
}



.navbarheader {
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.header-right,
.header-left {
    flex-basis: 50%;
}

.header-right {
    text-align: right;
}


.guide-title:hover .hidable {
    display: inline;
    opacity: 100%;
    transform:scale(1) translateX(0px);
    transition: 0.25s;
}

.guide-title .hidable {
    opacity: 0%;
    position: absolute;
    transform:scale(0) translateX(-30px);
    transition: 0.25s;
}

.guide-title {
    /*display: inline-block;*/
    padding-left: 25px;
    margin-bottom: 5px;
    position: relative;
}

.movable-title {
    position: relative;
    left: 0px;
    transition: 0.5s;
}

.guide-title:hover .movable-title {
    position: relative;
    left: 30px;
    transition: 0.5s;
}

/**/
.resource-block{
    position: relative;
}

.resource-block:hover .hidable{
    display: inline;
    opacity: 100%;
    transform:scale(1) translateX(0px);
    transition: 0.25s;
}

.resource-block .hidable {
    opacity: 0%;
    position: absolute;
    transform:scale(0) translateX(-30px);
    transition: 0.25s;
}
.resource-block:hover .movable-title {
    position: relative;
    left: 30px;
    transition: 0.5s;
}