.category-card {
    border: solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /*padding: 25px;*/
    text-align: center;
    margin: 5px;
    max-width: 400px;
    border-radius: 15px;
}

.new-guide-icon:hover {

}
.new-guide-icon {
    height:2em;
    cursor: pointer;
}

.card-title {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: baseline;
}

.menu-icons {
    align-self: center;
}
