.new-category-icon {
    height:2em;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 15px;
}

.new-category-icon:hover {
    height: 2.5em;
}

#color-picker {
    border-radius: 10px;
    height: 30px;
    width: 15ch;
    border: none;
    outline: none;
    -webkit-appearance: none;
    cursor: pointer;
}

#color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
}
#color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 10px;
}

