@using Entities
@using System.Text.Json
<div class="guides-container">

    <GuidesHeader OnCategoryCreated="@CategoryAdded"/>

    <div class="column-container">
        <div class="guide-coloumn">
            <CategoryCard/>
            
        </div>
        <div class="guide-coloumn">

        </div>
    </div>
</div>

@code {

    
    
    private Task CategoryAdded(Category category)
    {
        Console.WriteLine(JsonSerializer.Serialize(category, new JsonSerializerOptions
        {
            WriteIndented = true
        }));
        return Task.CompletedTask;
    }
}