@page "/Profile"
@using Application.ServiceContracts
@using Application.ProviderContracts
@using BlazorServerUI.Handlers
@using BlazorServerUI.StateContainers.Profile
@inject ITeacherService teacherService
@inject ITeacherProvider teacherProvider
@inject ProfileStateContainer profileStateContainer

<div style="display:flex; justify-content: space-evenly">
    @if (approvedTeacher is not null)
    {
        <CategoriesOverview/>
    }
    <ProfileCard ApprovedTeacher="@approvedTeacher" UserName="@userName" IsViaTeacher="@isViaTeacher"/>

</div>

@code {

    [CascadingParameter]
    public Task<AuthenticationState> AuthStateTask { get; set; } = null!;

    private string userName = String.Empty;
    private bool isViaTeacher;
    private Teacher? approvedTeacher;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await AuthStateTask;
        userName = authState.User.Identity?.Name!;
        isViaTeacher = teacherService.IsViaTeacher(userName);
        if (!isViaTeacher) return;

        approvedTeacher = await teacherProvider.GetTeacherAsync(userName);
        if (approvedTeacher != null)
        {
           await profileStateContainer.PopulateAsync(approvedTeacher.Name);
        }
    // TODO catch exceptions here, and show toast error message
    }

}