@page "/Profile"
@using Application.EntryContracts
@using Entities
@inject ITeacherHome teacherHome

<div style="display:flex; justify-content: space-evenly">
    @if (approvedTeacher is not null)
    {
        <GuidesOverview/>
    }
    <ProfileCard ApprovedTeacher="@approvedTeacher" UserName="@userName" IsViaTeacher="@isViaTeacher"/>

</div>

@code {

    [CascadingParameter]
    public Task<AuthenticationState> AuthStateTask { get; set; }

    private string userName = String.Empty;
    private bool isViaTeacher;
    private Teacher? approvedTeacher;

    private ICollection<Category> categories = new List<Category>();

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await AuthStateTask;
        userName = authState.User.Identity?.Name;
        Console.WriteLine(userName);
        isViaTeacher = teacherHome.IsViaTeacher(userName);
        if (!isViaTeacher) return;
        approvedTeacher = await teacherHome.GetTeacherAsync(userName);

    // TODO catch exceptions here, and show toast error message
    }

    private Task CreateNewGuide()
    {
        return Task.CompletedTask;
    }

    private Task CreateNewCategory()
    {
        throw new NotImplementedException();
    }

}