@page "/Profile"
@using Application.EntryContracts
@using Entities
@inject ITeacherHome teacherHome

<div style="display:flex; justify-content: center">
    <div class="profile-card">
        <h1>Profile</h1>
        <p>
            Hello @userName.
        </p>
        @if (isViaTeacher)
        {
            <p>
                It looks like you are a teacher at VIA.
            </p>
        }
    </div><div class="profile-card">
        <h1>Profile</h1>
        <p>
            Hello @userName.
        </p>
        @if (isViaTeacher)
        {
            <p>
                It looks like you are a teacher at VIA.
            </p>
        }
    </div>
    <div class="profile-card">
        <h1>Profile</h1>
        <p>
            Hello @userName.
        </p>
        @if (isViaTeacher)
        {
            <p>
                It looks like you are a teacher at VIA.
            </p>
        }
    </div>
</div>

@code {

    [CascadingParameter]
    public Task<AuthenticationState> AuthStateTask { get; set; }

    private string userName = String.Empty;
    private bool isViaTeacher;
    private Teacher? approvedTeacher;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await AuthStateTask;
        userName = authState?.User.Identity.Name;
        isViaTeacher = teacherHome.IsViaTeacher(userName);
        approvedTeacher = teacherHome.GetTeacher(userName);
    }

}