@page "/Profile"
@using Application.EntryContracts
@using Entities
@inject ITeacherHome teacherHome

<div style="display:flex; justify-content: center">
    @if (approvedTeacher is not null)
    {
        <div class="guides-container">
            <div style="display:flex; justify-content: center">
                <div>
                    <h1>
                        Guides
                    </h1>
                </div>
                <div>
                    <img class="icon" src="icons/AddCategory.svg" @onclick="CreateNewCategory" title="New Category"/>
                </div>
            </div>
            <hr/>
            <div class="column-container">
                <div class="guide-coloumn">
                    <div class="category-card">
                        <div style="display:flex; justify-content: center">
                            <div>
                                <h2>
                                    Un-categorized
                                </h2>
                            </div>
                            <div>
                                <img class="icon" src="icons/AddGuide.svg" @onclick="CreateNewGuide" title="New Guide"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="guide-coloumn">

                </div>
            </div>
        </div>
    }
    <ProfileCard ApprovedTeacher="@approvedTeacher" UserName="@userName" IsViaTeacher="@isViaTeacher"/>

</div>

@code {

    [CascadingParameter]
    public Task<AuthenticationState> AuthStateTask { get; set; }

    private string userName = String.Empty;
    private bool isViaTeacher;
    private Teacher? approvedTeacher;

    private ICollection<Category> categories = new List<Category>();

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await AuthStateTask;
        userName = authState.User.Identity?.Name;
        Console.WriteLine(userName);
        isViaTeacher = teacherHome.IsViaTeacher(userName);
        if (!isViaTeacher) return;
        approvedTeacher = await teacherHome.GetTeacherAsync(userName);
        
        // TODO catch exceptions here, and show toast error message
    }

    private Task CreateNewGuide()
    {
        Guide guide = new Guide(approvedTeacher);
        return Task.CompletedTask;
    }

    private Task CreateNewCategory()
    {
        throw new NotImplementedException();
    }

}